PORT=8000
JWT_SECRET=your-secret
MONGO_URI=mongodb://localhost:27017/NeztoDB
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
CLIENT_ENDPOINT=http://localhost:3000